@if(!isDataLoading){
<div class="card">
  <form [formGroup]="form">
    <app-control label="Amount">
      <p-inputNumber inputId="Amount" formControlName="amount" />
    </app-control>
    <app-control label="From">
      <p-dropdown
        [options]="currencies"
        formControlName="from"
        optionLabel="name"
        optionValue="code"
        placeholder="From"
      />
    </app-control>
    @if (!isDetails) {
    <div class="swap-icon" (click)="onSwap()">
      <i class="pi pi-sort-alt"></i>
    </div>
    }

    <app-control label="To">
      <p-dropdown
        [options]="currencies"
        formControlName="to"
        optionLabel="name"
        optionValue="code"
        placeholder="TO"
        [disabled]="isToDisabled"
      />
    </app-control>
    @if (!isDetails) {
    <div class="action">
      <button (click)="onConvert()" customBtn>Converter</button>
    </div>
    }
  </form>
</div>
}
