.card {
    form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .swap-icon{
          border:1px solid rgb(221, 221, 221); 
          padding: 16px;
          transform: rotate(90deg);
          border-radius: 50%;
          color:rgb(0, 108, 224);
          cursor: pointer;
          margin-top: 20px;
      }
      .action{
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-block: 30px;
      }
    }
  }
  